<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio GNSystems</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <p>API destinada ao desafio da GNSystems</p>
                <a href="https://github.com/TechFring/desafio-gnsystems">GitHub</a>
            </div>
        </div>
    </div>
</body>

</html>